*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.header{
    width: 1440px;
    height: 236px;
    margin: 12px auto 71px auto;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}
.header-contacts{
    background-color: #FED600;
    padding-right: 120px;
    padding-left: 120px;
}
.header-contacts, .header-contacts ul{
    display: flex;
}
.header-contacts__link{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}
.header-contacts__item{
    margin-right: 20px;
}
#city-selector-msk{
    display: none;
}
.header-contacts__item:nth-child(1)::after{
    content: url(img/arrow.svg);
    display: inline-block;
    margin-left: 5px;
    margin-right: 0; 
}
.header-contacts__item:nth-child(6)::before{
    content: '';
    background-image: url(img/tg-icon.svg);
    display: block;
}
.header-contacts__item:nth-child(7)::before{
    content: '';
    background-image: url(img/skype-icon.svg);
    display: block;
}
.header-contacts__item:nth-child(8)::before{
    content: '';
    background-image: url(img/phone-icon.svg);
    display: block;
}

.header-menu{
    display: flex;
    padding-right: 120px;
    padding-left: 120px;
}

.header-menu__logo p{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}
.header-menu__logo span{
    color: #ff0000;
}
form.search-box{
    width: 521px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open Sans';
  }
   form.search-box input{
      float: left;
      border: none;
      padding: 2px 16px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 90%;
      width: 436px;
      margin: 0;
      -webkit-appearance: none;
      outline: none;
      border-radius: 3px 0 0 3px;
    }
    form.search-box button{
      float: left;
      border: 2px solid #D2001C;
      color: #D2001C;
      background-color: #ffffff;
      padding: 0;
      margin: 4px;
      width: 75px;
      height: 36px;
      position: relative;
      cursor: pointer;
      border-radius: 4px;
      text-align: center;
    }
      
    
  
  /* Placeholder
  -----------------------------------------------------*/
    form.search-box input::-webkit-input-placeholder {
       color: #9E9E9E; 
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
    }
     
    form.search-box input:-moz-placeholder {
        color: #9E9E9E; 
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
    }
     
    form.search-box input:-ms-input-placeholder {
      color: #9E9E9E; 
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
    }
  .header-navbar{
    padding-right: 120px;
    padding-left: 120px;
  }

.company-info{
    width: 1235px;
}

.company-info__image{
    background-image: url(img/team-img.png);
    width: 1228px;
    height: 431px;
    display: block;
}


.video{
    width: 1448px;
    height: 550px;
    left: 46px;
    top: 1272px;
    background: #F9F9F9;
}