*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SFProDisplay-Regular.woff);
}
@font-face{
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SFProDisplay-Regular.woff);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.header{
    width: 1440px;
    height: 230px;
    margin: 12px auto 71px auto;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}
.header-contacts, .header-contacts ul{
    display: flex;
}
.header-contacts{
    background-color: #FED600;
    padding-right: 120px;
    padding-left: 120px;
    justify-content: space-between;
    height: 32px;
    align-items: center;
}

.header-contacts__link, .header-contacts__link2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
}
.header-contacts__item, .header-contacts__item2{
    margin-right: 20px;
}
.header-contacts__btn{
    background-color: transparent;
    border: none;
    outline: none;
}
.header-contacts__link:first-child::after{
    content: url(img/arrow.svg);
    display: inline-block;
    margin-left: 5px;
    margin-right: 0; 
}
.telegram-link::before, .skype-link::before, .call-link::before{
    display: inline-block;
    margin-right: 5px;
    background-repeat: no-repeat;
}
.telegram-link::before{
    content: '';
    background-image: url(img/tg-icon.svg);
    width: 16px;
    height: 14px;
}
.skype-link::before{
    content: '';
    background-image: url(img/skype-icon.svg);
    width: 18px;
    height: 14px;
}
.call-link::before{
    content: '';
    background-image: url(img/phone-icon.svg);
    width: 15.5px;
    height: 15.5px;
    margin-right: 0;
}


.header-menu{
    display: flex;
    padding-right: 120px;
    padding-left: 120px;
    max-width: 1440px;
    height: 81px;
    margin-top: 16px;
    align-items: center;
    justify-content: space-around;
}

.header-menu__logo{
    width: 213px;
    height: 62px;
    display: flex;
    align-items: center;
}
.header-menu__text{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    width: 133px;
    height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 16px;
}
.header-menu__logo span{
    color: #ff0000;
}
form.search-box{
    width: 521px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Open Sans';
  }
   form.search-box input{
      float: left;
      border: none;
      padding: 2px 16px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 90%;
      width: 436px;
      margin: 0;
      -webkit-appearance: none;
      outline: none;
      border-radius: 3px 0 0 3px;
    }
    form.search-box button{
      float: left;
      border: 2px solid #D2001C;
      color: #D2001C;
      background-color: #ffffff;
      padding: 0;
      margin: 4px;
      width: 75px;
      height: 36px;
      position: relative;
      cursor: pointer;
      border-radius: 4px;
      text-align: center;
    }
      
    
  
  /* Placeholder
  -----------------------------------------------------*/
    form.search-box input::-webkit-input-placeholder {
       color: #9E9E9E; 
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
    }
     
    form.search-box input:-moz-placeholder {
        color: #9E9E9E; 
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
    }
     
    form.search-box input:-ms-input-placeholder {
      color: #9E9E9E; 
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
    }
    input[placeholder]{
        text-overflow:ellipsis;
    }
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}    

  .header-navbar{
    padding: 12px 124px;
    height: 53px;
    justify-content: center;
  }
  .login-button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #222222;
    margin-right: 32px;
    margin-left: 30px;
    margin-bottom: 7px;
  }
  .login-button::before{
      content:url(img/quit-icon.svg);
      position: relative;
      top: 7px;
      right: 12.33%;
  }
  .basket-button{
    width: 160px;
    height: 36px;
    background-color: #D2001C;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
  }
  .basket-button span{
      vertical-align: middle;
  }
  .basket-button span::before{
    content: url(img/backet-icon.svg);
    position: relative;
    top: 5px;
    right: 4.33%;
  }


.header-menu-shop{
    height: 61px;
    border-top: 1px solid #BDBDBD;
    padding: 12px 124px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  #menu-toggle{
      display: none;
  }
  .hamburger-menu__box, .hamburger-menu__shop-box{
      display: flex;
  }
  .hamburger-menu__item{    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-right: 64px;
  }
  .hamburger-menu__box li:last-of-type a{
      margin-right: 0;
  }
  .hamburger-menu__shop-box .hamburger-menu__product-item{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px; 
    color: #000000; 
    margin-right: 13px;
  }
  .hamburger-menu__shop-box li:last-of-type a{
    margin-right: 0;
  }
  .hamburger-menu__product-item::after{
    content: url(img/menu-arrow.svg);
    display: inline-block;
    margin-left: 5px;
    margin-right: 0; 
}

   




.company-info{
    width: 1235px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.company-info__image{
    width: 1228px;
    height: 431px;
    margin-bottom: 50px;
}
.company-info__recruitment{
    width: 333px;
}
.company-info__recruitment h1{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 40px;
}
.company-info__recruitment button{
    background-color: #D2001C;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 280px;
    height: 44px;
    font-family: "SF Pro Text";
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}
.company-info__recruitment button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color:#D2001C;
    border: 1px solid #D2001C;
    transition: 1s;

}
.company-info__recruitment button:active{
    background-color: #ffffff;
    color:#D2001C;
    border: 1px solid #D2001C;
    transition: 1s;
}
.company-info__recruitment span{
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.7px;
    color: #C4C4C4;
}
.company-info__text{
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.7px;
    color: #4D4D4D;
    width: 610px;
    padding: 5px;
}
.company-info__text p{
    margin-bottom: 1em;
}
.company-info__text a{
    color: #D2001C;
    text-decoration: underline;
}
.company-links{
    margin: 70px 0;
    width: 100%;
}
.company-links__block{
    display: flex;
    justify-content: space-between;
}
.company-links h2{
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.7px;
    color: #222222;
    margin-bottom: 50px;
}
.company-links h2::after{
    content: url(img/h-line.svg);
}
.company-links__item{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #4D4D4D;
}
.company-links__item:hover{
    color: #D2001C;
}
.company-links__arrow{
    stroke: #4D4D4D;
    margin-left: 10px;
}
.company-links__item:hover > .company-links__arrow{
    stroke: #D2001C;
}


.video{
    width: 1448px;
    height: 550px;
    background-color: #F9F9F9;
    padding: 70px 137px 64px;
    margin-bottom: 5%;
}
.video__row, .video__row2{
    display: flex;
    justify-content: space-between;
}

.video__row h2{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #222222;
    margin-bottom: 54px;
}
.slider__control{
    display: inline-flex;
}
.slider {
    position: relative;
    overflow: hidden;
    
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    width: 1448px;
    height: 550px;
    background-color: #F9F9F9;
    padding: 70px 137px 64px;
    margin-bottom: 5%;

  }

  .slider__item {
    flex: 0 0 50%;
    max-width: 45%;
  }
  .slider__control{
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-sizing: border-box;
    width: 40px;
    height: 39px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.slider__control_left::before{
    content: url(img/controls-arrow-left.svg);
    position: absolute;
}
.slider__control_right::before{
    content: url(img/controls-arrow-right.svg);
}
  .slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
  }

/**адаптив для планшетов от 650 до 992 **/
/**адаптив для мобильных и планшетов от 475 до 650 **/

/**адаптив для мобильных от 320 до 475 **/
@media screen and (max-width: 475px){
    body, .header, main, .company-info, .video{
        width: 100%;
        min-width: 320px;
        max-width: 475px;
    }
    .header-contacts, .header-contacts, .company-info,  .company-info__text p, .company-info__recruitment, .company-links, .video__row{
        padding: 10px;
    }
    .header{
        margin-bottom: 1em;
    }
    .header-menu-shop, .login-button, .basket-button{
        display: none;
    }
    
    .header-menu, .header-navbar{
        flex-wrap: wrap;
        padding: 5px;
    }
    .header-menu__text{
        display: none;
    }
    .header-menu__logo{
        width: 64px;
    }
    .header-contacts__item2:nth-child(-n+2), .header-contacts__item{
        display: none;
    }
    form.search-box{
        width: 285px;
        margin-top: 15px;
        margin-bottom: 8px;
    } 
    form.search-box input{
        width: 200px;
    }
    


    .company-info__recruitment h1{
        font-size: 1.3rem;
        margin-bottom: 1em;
    }
    .company-info__image, .company-info__image img{
        width: 100%;
        height: auto;
    }
    .company-info__image{
        margin-bottom: 30px;
    }
    .company-links{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .company-links h2{
        margin-bottom: 1em;
    }
    .company-links h2::after{
        display: none;
    }
    .company-links__block {
        flex-direction: column;
    }
    .company-links__item{
        margin-bottom: 1em;
    }
    .company-links__arrow {
        margin-left: 2px;
    }
    .video{
        padding: 5px;
    }
    .video__row2{
        flex-direction: column;
        align-items: center;
    }
    .video__row2 iframe{
        width: 280px;
        height: 161px;
        margin-top: 5px;
    }
    



   

    .hamburger-menu{
        visibility: visible;
      }
      #menu-toggle {
        opacity: 0;
      }
      #menu-toggle:checked ~ .hamburger-menu__btn > span {
        transform: rotate(45deg); 
      }
      #menu-toggle:checked ~ .hamburger-menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .hamburger-menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .hamburger-menu__box {
        visibility: visible;
        left: 0;
      }
      #menu-toggle:checked ~ .hamburger-menu__btn{
        left: 0;
        position: fixed;
        margin-left: 15px;
      }
      .hamburger-menu__btn {
        display: flex;
        position: absolute;
        width: 30px;
        height: 26px;
        cursor: pointer;
        z-index: 4;
        top: 25px;
        right: 9em;
      }
      .hamburger-menu__btn > span,
      .hamburger-menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #4D4D4D;
        transition-duration: .25s;
      }
      .hamburger-menu__btn > span::before {
        content: '';
        top: -8px;
      }

      .hamburger-menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .hamburger-menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ffffff;
        transition-duration: .25s;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 3;
        height: auto;
      }
      .hamburger-menu__box li{
        margin-left: 1em;
        margin-bottom: 2em;
      }
      .hamburger-menu__item {
        color: #4D4D4D;
        font-size: 16px;
      }
      .hamburger-menu__item:hover{
        text-decoration: underline;
        color: #D2001C;
      }
}